---
- name: Workstation
  hosts: 
    - localhost
  roles:
  - role: gantsign.antigen
    users:
      - username: "{{ ansible_user_id }}"
        antigen_install_oh_my_zsh: yes
        antigen_libraries:
          - name: oh-my-zsh
        antigen_theme:
            name: robbyrussell
        antigen_bundles:
          - name: zsh-syntax-highlighting
            url: zsh-users/zsh-syntax-highlighting
          - name: zsh-autosuggestions
            url: zsh-users/zsh-autosuggestions
          - name: zsh-completions
            url: zsh-users/zsh-completions
          - name: git
          - name: docker
          - name: docker-compose

  - role: andrewrothstein.starship
    become: true
  tasks:
  - name: Install all packages
    ansible.builtin.package:
      name:
        - zsh
      state: latest
    become: true
    tags: packages
  - name: change to zsh
    ansible.builtin.user:
      name: "{{ ansible_user_id }}"
      shell: /bin/zsh
      groups: "docker"
      append: true
    become: true
  - name: ensure .zshrc exists
    copy:
      content: ""
      dest: ~/.zshrc
      force: no
      owner: "{{ ansible_user_id }}"
      mode: 0700
  - name: Update zsh for starship
    lineinfile:
      dest: ~/.zshrc
      regexp: 'eval "$(starship init zsh)"'
      line: 'eval "$(starship init zsh)"'
      create: yes
