---
- name: KDE
  hosts: 
    - localhost
  roles:
  tasks:
  - name: Install kde packages
    ansible.builtin.package:
      name:
        - pam_kwallet
        - plasma5-workspace-wallpapers
        - breeze5-wallpapers
      state: latest
    become: true
    tags: packages
