---
- name: Workstation
  hosts: 
    - localhost
  tasks:
  - name: Check if Jetbrains Toolbox is already installed
    stat:
      path: ~/.local/share/JetBrains/Toolbox/bin/jetbrains-toolbox
    register: is_toolbox_installed
  - name: Jetbrains Toolbox
    ansible.builtin.shell: |
      wget -cO jetbrains-toolbox.tar.gz "https://data.services.jetbrains.com/products/download?platform=linux&code=TBA"
      tar -xzf jetbrains-toolbox.tar.gz
      DIR=$(find . -maxdepth 1 -type d -name jetbrains-toolbox-\* -print | head -n1)
      cd $DIR
      ./jetbrains-toolbox
      cd ..
      rm -r $DIR
      rm jetbrains-toolbox.tar.gz
    delegate_to: localhost
    when: not is_toolbox_installed.stat.exists
